In [ ]:
def aribitary_position_argument(*args):
    print(args,type(args))

aribitary_position_argument()

() <class 'tuple'>

In [ ]:
def calculate_sum(*numbers):
     return sum(numbers)

print(calculate_sum(12,23,44,5))

84

In [ ]:
# write a python func , names as a mandotary . grade scores not mandotary,
    # 1.print the student names
    # 2.calculate and print the highest grade, lowest grade abde ang drage from the provided school
    # 3.if no grades are provided you should print no grades available

def summerize_grades(name,*scores):
    print(name)
    if  scores:
        print("HIGHEST GRADE", max(scores))
        print("LOWEST GRADE", min(scores))
        print("AVARAGE", (sum(scores))/ len(scores))
    else:
        print("NO GRADES AVAILBLE")


summerize_grades("Amodh",12,23,43)

Amodh
HIGHEST GRADE 43
LOWEST GRADE 12
AVARAGE 26.0

In [ ]:
def arbitary_keyword_args(**kwargs):
    print(kwargs,type(kwargs))

arbitary_keyword_args(name = "JOHN" , age =21)

{'name': 'JOHN', 'age': 21} <class 'dict'>

In [83]:
# write a python func for , that accepts required name parameter and arbitary numbers of keyword argument.
# represent in additional details abount the empliyee.
# The func should be
# print the employee name
# itareate through the keyword argument and print each key value pair in the format "key:<value>"
# return a dict with all the employee details

def employee_info(name , **details):
    print(name)
    for key,value in details.items():
        print(key,value) 

    return {"name" : name} | details
print(employee_info("AMODH",age=22 , city="Maggona"))

AMODH
age 22
city Maggona
{'name': 'AMODH', 'age': 22, 'city': 'Maggona'}

In [1]:
# find absoulute value

def find_abs(value):
    return abs(value)

print(find_abs(-10))

10

In [13]:
# map()
def print_value(value):
    return value

result = map(print_value,[11,2,321])
print(result,type(result))
result = list(result)
print(result,type(result))

<map object at 0x000001D53723A350> <class 'map'>
[11, 2, 321] <class 'list'>

In [ ]:
# Built in functions.
    # map()
def find_squar(x):
    return x*x

result = map(find_squar,[11,2,321])
print(result,type(result))
result = list(result)
print(result,type(result))

<map object at 0x00000165CF960E20> <class 'map'>
[121, 4, 103041] <class 'list'>

In [15]:
# question 03

def find_total(first_value,second_value):
    return first_value + second_value

list_1=[20,33,2]
list_2 = [22,22,3]

result = list(map(find_total,list_1,list_2))
print(result)

[42, 55, 5]

In [ ]:
# question 04
# You have list of integer represent in tempreture in celcius.
# tempreture = [20,30,25,40,50]
# write a python program using the map func to convert this tempreture to faranhite
# use the formula 

tempreture_celsius = [20,30,25,40,50]
def celsius_to_fahrenhite(value_in_celsius):
    return value_in_celsius * (9/5) + 32


print(list(map(celsius_to_fahrenhite,tempreture_celsius)))

[68.0, 86.0, 77.0, 104.0, 122.0]

In [ ]:
# filter()
#for the filter function you can't multiple iterable this func always return logical true or false

def is_greater_than_zero(value):
    return value > 0

print(list(filter(is_greater_than_zero,[10,20,-33])))

[10, 20]

In [ ]:
# question 05
# write the func to filter out odd numbers 
numbers_list = [11,2,3,43,23,22]

def filter_even_number(value):
    return value %2 == 0

print(list(filter(filter_even_number,numbers_list)))

[2, 22]